{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <form action="" method="post" class="form-horizontal" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <legend>User Registration</legend>
                </div>

                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}" class="col-sm-2 control-label">Username:</label>

                    <div class="col-sm-10">
                        {% render_field form.username class="form-control" %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}" class="col-sm-2 control-label">Password:</label>

                    <div class="col-sm-10">
                        {% render_field form.password1 class="form-control" %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}" class="col-sm-2 control-label">Password Confirmation:</label>

                    <div class="col-sm-10">
                        {% render_field form.password2 class="form-control" %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" class="col-sm-2 control-label">Email:</label>

                    <div class="col-sm-10">
                        {% render_field form.email class="form-control" %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.first_name.id_for_label }}" class="col-sm-2 control-label">First Name:</label>

                    <div class="col-sm-10">
                        {% render_field form.first_name class="form-control" %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.last_name.id_for_label }}" class="col-sm-2 control-label">Last Name:</label>

                    <div class="col-sm-10">
                        {% render_field form.last_name class="form-control" %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.nickname.id_for_label }}" class="col-sm-2 control-label">Nickname:</label>

                    <div class="col-sm-10">
                        {% render_field form.nickname class="form-control" %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}