{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Index</h1>
            <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
        </div>
    </div>
{% endblock %}