{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if validlink %}
                <h1>Activation Success</h1>
                    {% else %}
                <h1>Activation Fail</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}