{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Registration Success</h1>
            <p>Activation email has been sent. Please Check your email box and activate your account.</p>
        </div>
    </div>
{% endblock %}